[
  {
    "name": "Test 1",
    "files": ["test.c"],
    "filesystem": ""
  },
  {
    "name": "Test 2",
    "files": ["test.c"],
    "filesystem": ""
  },
  {
    "name": "Test 3",
    "files": ["test.c"],
    "filesystem": {}
  },
  {
    "name": "Test 4",
    "files": ["test.c"],
    "filesystem": {"files": []}
  },
  {
    "name": "Test 5",
    "files": ["test.c"],
    "filesystem": {"files": [{"name": "toto.txt"}]}
  },
  {
    "name": "Test 6",
    "files": ["test.c"],
    "filesystem": {"files": [{"name": "toto.txt", "from": "toto.txt"}]}
  },
  {
    "name": "Test 7",
    "files": ["test.c"],
    "filesystem": {"files": [{"name": "toto.txt"},{}]}
  }
]
