[
  {
    "name": "Test 1",
    "files": ["test.c"],
    "filesystem": {"files": 3}
  },
  {
    "name": "Test 2",
    "files": ["test.c"],
    "filesystem": "10"
  },
  {
    "name": "Test 3",
    "files": ["test.c"],
    "filesystem": 4
  },
  {
    "name": "Test 4",
    "files": ["test.c"],
    "filesystem": []
  },
  {
    "name": "Test 5",
    "files": ["test.c"],
    "filesystem": {}
  },
  {
    "name": "Test 6",
    "files": ["test.c"],
    "filesystem": {"files": ""}
  },
  {
    "name": "Test 7",
    "files": ["test.c"],
    "filesystem": {"files": []}
  },
  {
    "name": "Test 8",
    "files": ["test.c"],
    "filesystem": {"files": [{}]}
  }
]
