[
  {
    "name": "Test 1",
    "files": ["test.c"],
    "filesystem":
    {
      "system_errors": false,
      "files": 
      [
        {
          "name": "input.txt",
          "from": "input.txt"
        },
        {
          "name": "input2.txt",
          "from": "input2.txt"
        }
      ],
      "nb_max_files": 2
    }
  }
]
